<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- action: form에 작성한 데이터를 어디로 보낼지 지정-->
<form action="/member/save" method="post">
    회원이름: <input type="text" name="member_Name"> <br>
    회원 아이디: <input type="text" name="member_Id"> <br>
    회원 비밀번호: <input type="password" name="member_Pw"> <br>
    회원 전화번호: <input type="text" name="member_Tel"> <br>
    회원 주소: <input type="text" name="member_Addr"> <br>
    회원 우편번호: <input type="text" name="member_Zipcode"> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>